
#photo-template  {
    box-shadow: 2px -2px 20px gray;
    width: 320px;
    height: fit-content;
    box-sizing: border-box;
    border: 2px solid gray;
    margin-bottom: 30px;
    margin-top: 20px;
}
#photo-template h2{
    text-align: center;
    margin-top: 10px;
}
#photo-template p{
    text-align: justify;
    padding: 5px;
}
#photo-template img{
    box-shadow: 2px -1px 10px lightblue;
    width: 250px;
    height: 200px;
    margin: 10px 30px;
}